* {
  box-sizing: border-box;
  padding: 0.1rem;
  font-family: 'Poppins';
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.logo {
  font-size: 6em;
}

.nav-link {
  font-size: 2rem;
  text-decoration: none;
}

/*!!!!!!!!!!!!!
 
  BLOG POSTS

 !!!!!!!!!!!!!!*/

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 90%;
  margin: 0 auto;
}

.blog-card {
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.333% - 2rem);
  padding: 0.5rem;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.blog-card h1 {
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5;
  min-height: 3.5em; /* adjust to align the paragraphs below vertically*/
}

.blog-card p {
  min-height: 6em;
  line-height: 1.5;
  color: rgb(136, 136, 124);
}

.blog-link {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

.blog-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
  cursor: pointer;
}

/*!!!!!!!!!!!!!
 
  BLOG PAGE 

 !!!!!!!!!!!!!!*/

.blog-detail-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}

.blog-title {
  align-self: center;
  font-size: 4em;
}

.blog-content {
  font-size: 2em;
}

/*!!!!!!!!!!!!!
 
  BUTTON 

 !!!!!!!!!!!!!!*/

.btn-container {
  display: flex;
  justify-content: center;
}

.btns {
  border: none;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgb(86, 63, 138);
  color: #fff;
}

.btns:hover {
  background-color: rgb(139, 137, 145);
  color: black;
  cursor: pointer;
}

/*!!!!!!!!!!!!!
 
  ERROR PAGE 

 !!!!!!!!!!!!!!*/
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.error-hero {
  margin-top: 7rem;
  font-size: 7rem;
}

/*!!!!!!!!!!!!!
 
  LOADING PAGE 

 !!!!!!!!!!!!!!*/
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  font-size: 3rem;
  font-weight: 700;
}


/*!!!!!!!!!!!!!
 
  RESPONSIVENESS 

 !!!!!!!!!!!!!!*/

@media (max-width: 1024px) {
  .logo {
    font-size: 4em;
  }
  
  .nav-link {
    font-size: 1em;
    text-decoration: none;
  }

  .blogs-container {
    max-width: 90%;
    gap: 1rem;
    align-items: center;
  }

  .blog-card {
    flex: 0 0 calc(50% - 2rem);
    max-width: 100%;
    padding: 1.5rem;
  }

  .blog-card h1 {
    min-height: 0em; /* adjust to align the paragraphs below vertically*/
  }
}

@media (max-width: 800px) {
  .blog-card {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .blog-card h1 {
    min-height: 0em; /* adjust to align the paragraphs below vertically*/
  }
}